.edit
{
    width: 80%;
    margin: auto;
    margin-left: 300px;
}

.App {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  
  h2, h3 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="file"] {
    padding: 3px;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  