/* .home
{
    width: 84%;
    margin-left: auto;
    padding: 10px;
} */


.home
{
    background-color: aqua;
    width: 80%;
    margin: auto;
    margin-left: 300px;
}

.home .row input::placeholder
{
    padding-left: 30px;
}

