table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
    padding-left: 25px !important;
}

thead {
    border-radius: 10px;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.238);
}